body {
    background-color: #f3f7fa;
}

.logo {
    background: url('./assets/logo.png');
    height: 89px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
    width: 82px;
}

.ticket-cell {
    background: #fff;
    position: relative;
}
